[program:diogenes-recs]
;; this is still a valid jinja2 template, fill it in
command={{ recommendd }}
directory={{ diopy_location }}
autostart=true
autorestart=true
user={{ diouser }}
stderr_logfile=/var/log/diogenes.err.log
stdout_logfile=/var/log/diogenes.out.log
environment=DIO_SMTP_URL="{{ dio_smtp_url }}",DIO_SMTP_PORT="{{ dio_smtp_port }}",DIO_SMTP_USERNAME="{{ dio_smtp_username }}",DIO_SMTP_PASSWORD="{{ dio_smtp_password }}",DIO_DEST_EMAIL="{{ dio_dest_email }}"
